<%- include('includes/head.ejs') %>
</head>


<body>
    <%- include('includes/navigation.ejs') %>
    <!-- error page to indicate issue occurred server side-->
    <h1>Some error occurred</h1>
    <p>Please be patient while we resolve the issue. </p>

<%- include('includes/end.ejs') %>